<div class="container">
  <div class="row">
    <div class="col-md-6" style="margin-top: 1.5em;">
      <div id="poll-area" class="card">
        <div class="card-header">
          <h4>Create Poll Question </h4>
        </div>
        <div class="card-body">
          <div class="form-group">
            <label for="Question">Name</label>
            <input type="text" class="form-control" id="Question" placeholder="" [(ngModel)]="model.question">
          </div>
          <div class="form-group">
            <label for="category">Category</label>
            <select type="text" class="form-control" id="category" placeholder="" [(ngModel)]="selectedCategory">
              <option *ngFor="let c of categorise" [ngValue]="c">{{c.FLD_CATEGORY}}</option>
            </select>
          </div>
          <div class="form-group">
            <label for="answer1">Answer one</label>
            <input type="text" class="form-control" id="answer1" placeholder="" [(ngModel)]="model.answer1">
          </div>
          <div class="form-group">
            <label for="answer2">Answer two</label>
            <input type="text" class="form-control" id="answer2" placeholder="" [(ngModel)]="model.answer2">
          </div>
          <div class="form-group">
            <label for="answer3">Answer three</label>
            <input type="text" class="form-control" id="answer3" placeholder="" [(ngModel)]="model.answer3">
          </div>
          <div class="form-group">
            <label for="answer4">Answer four</label>
            <input type="text" class="form-control" id="answer4" placeholder="" [(ngModel)]="model.answer4">
          </div>
          <div class="form-group">
            <label for="answer5">Answer five</label>
            <input type="text" class="form-control" id="answer5" placeholder="" [(ngModel)]="model.answer5">
          </div>
          <div class="form-group">
            <label for="description">Description</label>
            <textarea type="text" class="form-control" id="description" placeholder="" [(ngModel)]="model.description">
          </textarea>

          </div>
          <button *ngIf="!isupdate" type="submit" class="btn btn-primary" (click)="createQuestion()">Create</button>
          <button *ngIf="isupdate" type="submit" class="btn btn-primary" (click)="editQueClick()">Edit</button>&#160;
          <button *ngIf="isupdate" type="submit" class="btn btn-danger" (click)="cancel()">Cancel</button>
        </div>
      </div>
    </div>

    <div class="col-md-6" style="margin-top: 1.5em;">
      <div class="card">

        <div class="card-header">
          <h4>questions List</h4>
        </div>
        <div class="card-body">
          <div class="table-responsive">
            <table datatable [dtTrigger]="dtTrigger" class="table table-striped">
              <thead class="thead-dark">
                <tr>
                  <td>#</td>
                  <td>Question</td>
                  <td>Category</td>
                  <td></td>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let row of questionList; let i = index">
                  <td>
                    {{i+1}}
                  </td>
                  <td>
                    {{row.question}}
                  </td>
                  <td>
                    {{row.categoryName}}
                  </td>
                  <td>
                    <!-- <a data-toggle="modal" data-target="#detaiModal" (click)="detailQue(i)">
                      <i class="fa fa-eye text-primary" style="cursor: pointer;padding-right:4px"></i>&#160;
                    </a> -->


                    <i class="fa fa-edit text-primary" style="cursor: pointer;;padding-right:4px" (click)="editQue(i)"></i>&#160;
                    <i class="fa fa-remove text-danger" style="cursor: pointer" (click)="deleteQue(i)"></i>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>



<!-- The Modal -->
<div class="modal" id="detaiModal">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Question Detail</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        <div class="form-group">
          <label>Question:</label>
          <p class="text-info">{{question}}</p>
        </div>
        <div class="form-group">
          <label>Category:</label>
          <p class="text-info">{{category}}</p>
        </div>
        <div class="form-group">
          <label>Answer one:</label>
          <p class="text-info">{{answer1}}</p>
        </div>
        <div class="form-group">
          <label>Answer two:</label>
          <p class="text-info">{{answer2}}</p>
        </div>
        <div class="form-group">
          <label>Answer three:</label>
          <p class="text-info">{{answer3}}</p>
        </div>
        <div class="form-group">
          <label>Answer four:</label>
          <p class="text-info">{{answer4}}</p>
        </div>
        <div class="form-group">
          <label>Answer five:</label>
          <p class="text-info">{{answer5}}</p>
        </div>
        <div class="form-group">
          <label>Description:</label>
          <p class="text-info">{{description}}</p>
        </div>
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>